.item-container {
  display: flex;
  flex-direction: column;

  width: 280px; /* Adjusted for better visual appearance */
  margin: 10px;
  border: none; /* Remove borders for a cleaner look */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-color: #ffffff; /* Ensures a clean, bright background */
  transition: transform 0.3s ease-in-out; /* Smooth transformation on hover */
}

.item-container:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Larger height for better display */
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-image:hover {
  transform: scale(1.1); /* Subtle zoom effect on hover */
}

.item-details {
  padding: 15px;
  font-size: 18px; /* Smaller font for descriptions */
  color: #333;
}

.item-cancel {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #0e7490;
}
.avaliable {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #94a3b8;
}
.price-text {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  color: #94a3b8;
}
.price {
  display: flex;
  justify-content: flex-end;
}

.item-description-list {
  display: grid;
  justify-content: flex-start;
  font-size: 10px;
  color: #0891b2;
}

h2 {
  font-size: 20px; /* Larger for visibility */
  color: #000000; /* Darker color for titles */
  margin: 10px 0;
}

.item-btn:hover {
  background-color: #004494;
}

@media (max-width: 768px) {
  .item-container {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0;
  }
}
