.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #708a93;
  color: white;
}

.logo {
  flex-grow: 1;
  text-decoration: none;
  color: white;
}

.logo h2 {
  font-size: 24px;
  color: #fff;
}

.logo-first-letter {
  font-size: 34px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.search-bar input[type='text'] {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  width: 300px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  height: 30px;
}

.search-bar input[type='text']:focus {
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  border-color: #0056b3;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button:hover {
  background-color: #003e86;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-links li:hover {
  color: #ffeb3b;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.card-count {
  font-weight: bold;
  color: red;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 10px 40px;
  }

  .search-bar input[type='text'] {
    width: 50%;
  }

  .nav-links a {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar {
    padding: 10px 30px;
  }

  .search-bar input[type='text'] {
    width: 50%;
  }

  .nav-links a {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-bar input {
    width: 80%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    margin: 5px 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .search-bar input {
    width: calc(100% - 40px);
  }

  .nav-links a {
    font-size: 16px;
    padding: 8px 0;
  }
}