.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f4f4f4;
}

.login-form {
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.input-group input {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.actions {
  margin-top: 20px;
}

.login-button {
  width: 80%;
  padding: 10px;
  background-color: #5C67F2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #4a54e1;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 12px;
  color: #0077cc;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-link button {
  width: 80%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.register-link button:hover {
  background-color: #45a049;
}
